<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.noman23.magentatranslator">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.HistoryActivity"
            android:label="@string/activity_history_title" />

        <activity
            android:name=".activities.SavedActivity"
            android:label="@string/activity_save_title" />

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/activity_about_title" />
    </application>
</manifest>
